window,body{
  width:560px;
  margin:0;
}

#content{
  min-width:100%;
  padding:0px;
}

#ubporder {
  clear:left;
}
#ubporder table{
  border-style:dotted;
  width:100%;
}

#ubporder .plus,.del{
  cursor:pointer;
  width:18px;
  height:18px;
  text-align:center;
  background: url('') no-repeat;
  /* background: url('view/image/del_icn.jpg') no-repeat; */
}

#ubporder td.nostyle{
  background-color:white;
  border:0px hidden white;
}

#base {
  width:100%;
  float:left;
}

#base .half{
  float:left;
  position:relative;
  /*** margin-top:10px; ***/
  width: 100%;
}

#base #store{
  width:100%;
}

#ship{
  width:100%;
  margin-bottom:10px;
}
#ubporder span.small_btn{
  border:1px solid gray;
  float:right;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
  background-color: orange;
  cursor:hand;
}
table .label{
  width:100px;
  text-align:center;
}

table .context{
  width:350px;
}

#detail{
  position : absolute;
  top: 100px;
  left: 200px;
  visibility:hidden;
  border: 1px dotted green;
  z-index:2;
}

#ship table .label{
  width:100px;
  text-align:center
}

#ship table .context{
  width:350px;
}


#return table .label{
  width:100px;
  text-align:center
}

#return table .context{
  width:350px;
}

#order{
  width:100%;
}

#order,#payment{
  clear:both;
  position:relative;
}
#payment{
  width:100%;
}

#payment table{
  border:2px dotted peru;
}

#order table{
  /*** margin-top: 30px; ***/
  width:100%;
}

#order .header{
  width:100%;
}

.insert{
  background-color: gray;
}

#preview{
  /* float:right; */
}

#preview img{
  border:0px;
}

#brief{
  padding-bottom : 0px;
  display:none;
}
#brief li{
  list-style:none;
  font-size:20px;
}

#storeinfo{
  padding-bottom:10px;
}

.no_print_invoice{
  display:none;
}
